/* Assignment 4 external style sheet  */

  * {
      box-sizing: border-box;
      border-radius: 25px; 
  }

/* All of the text color */
  .text {
      color: DarkOliveGreen;
  }

/* Header style  */    
  h1 {
       font-family: Impact, sans-serif;
       font-size: 35px;
       text-align: center;
  }

/* set side margin */
  .sidemargin {
      margin-left: 35%;
  }

/* give background color a dark green */
  body {
      background-color: DarkGreen;
  }

/* calculator box style  */
  .box {
       border: 10px solid Chartreuse;
       margin: 5% 20% 5% 20%;
       padding: 20px;
       background-color: DarkKhaki;
  }

/* style input tags inside form tag */
  form input {
       margin: 5px;
       font-size: 15px;
       font-family: gadget, sans-serif;
       text-align: left;
  }
     
